/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/OlaMundoSwing/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/OperadoresLogicos/nbproject/private/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaParImpar/nbproject/private/
/ProgramaParImpar/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/Contador1/nbproject/private/
/Contador1/build/
/Vetor03/nbproject/private/
/Vetor03/build/
/TesteFuncao/nbproject/private/
/Exercicio13/nbproject/private/
/Exercicio13/build/
/Exercicio13/dist/
/ExercicioVetor/nbproject/private/
/ExercicioVetor/build/
/Funcao01/nbproject/private/
/Funcao01/build/
/Funao02/nbproject/private/
/Funcao02/nbproject/private/
/Funcao02/build/
/JavaApplication25/nbproject/private/
/UltraEmojiCombat/nbproject/private/
/UltraEmojiCombat/build/
/Livro/nbproject/private/
/Livro/build/